<% 
    page.layout = "about";
    page.title = __("about");
%>
<style>
ul ul {
margin-left: 30px; /* Additional indent for nested lists */
}
</style>

<section class="about" style="margin: 50px 0;">
    <h1 style="text-align: center;font-size: 2rem;" class="fancy-color">About</h1>
    <!-- <p style="text-align: center;">
        <span> Ops! Page is not found! </span>
        |
        <a href="<%- url_for("/") %>">go back to home!</a>
    </p> -->
    <p text-indent: 30;>
        <span> 
            <ul>suggested links: 
                <li><a href="https://arxiv.org/list/math.GT/recent">arxiv geometric topology</a></li>
                <li><a href="https://www.math.pku.edu.cn/kxyj/xsbg/tlb/topology/">pku topology</a></li>
                <li><a href="https://ymsc.tsinghua.edu.cn/info/1053/2578.htm">ymsc topology seminar</a></li>
                <li><a href="https://ymsc.tsinghua.edu.cn/info/1053/4238.htm">ymsc g2t2 seminar</a></li>
            </ul>
        </span>
    </p>
</section>