<% 
    page.layout = "tags";
    page.title = __("tags");

    let min_font = 20,
      max_font = 20,
      unit = 'px',
      amount = 900,
      start_color = "#70f3ff",
      end_color = "#70f3ff";
%>

<section class="tags">
    <h1 style="text-align: center;" class="fancy-color"><%= site.tags.length %> tags in total</h1>
    <div class="tags-list">
        <%- tagcloud({
            min_font: min_font,
            max_font: max_font,
            amount: 999,
            unit: unit,
            color: true,
            start_color,
            end_color
        }) %>
    </div>
</section>